* { box-sizing: border-box; }

body {
    width: 640px;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

header {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bg {
    width: 600px;
    background-color: white;
    margin: 0px 20px;
    padding: 20px 0 0 0;
}

.noticias {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 20px 30px;
}

.noticias img {
    max-width: 100%;
}

.noticia-principal {
    flex-direction: column;
    flex-wrap: wrap;
}

.noticia-principal img {
    margin-top: -50px;
}

.titulo {
    font-weight: bold;
    font-size: 23.21pt;
}

.resumo {
    font-size: 13.12pt;
    flex-wrap: wrap;
    color: #74787a;
}

.fonte {
    font-size: 11pt;
    color: #B2B2B2;
    font-style: italic;
}

.gradient1 {
    width: 249px;
    height: 4px;
    background-image: linear-gradient(to right, #E62259, #695BA3 );
}

.noticias-secundarias {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.noticia-menor {
    flex-grow: 1;
    margin: 10px; 
}

.noticia-menor img {
    max-width: 250px;
}

.menor {
    font-size: 18pt;
}

.gradient2 {
    width: 155px;
    height: 4px;
    background-image: linear-gradient(to right, #76C6CF, #675FA6 );
}

.gradient3 {
    width: 155px;
    height: 4px;
    background-image: linear-gradient(to right, #74C7CF, #38B388 );
}

.retangulo {
    width: 600px;
    height: 200px;
    background: #fc4c02;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 11pt;
    color: #646869;
    text-align: center;
}